<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <div class="row align-items-center justify-content-between">
            <div class="rounded mb-2 hero3">
            
            <h5><span>Tu negocio aqui</span></h5>
            <p class="lead mb-1">Tu negocio también puede estár publicado aquí totalmente SIN COSTO. 
                <br /><br />
                <a href="{{site.baseurl}}/anunciate" class="btn btn-dark text-white px-5 btn-lg">Anúnciate</a> <br />con nosotros. 
                <br /><br />Recuerda: <strong>#ConsumeLocal</strong></p>
            
            </div>
        </div>
        <div>
            <h5><span>Ad</span></h5>
            {% include ad-display-vert-ii.html %}
        </div>
    </div>
</div>


